@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

body {
    background-color: hsl(218, 28%, 13%) !important;
    color: hsl(0, 0%, 100%) !important;
    ;

}

.nav-link {
    color: hsl(0, 0%, 100%) !important;
    font-family: 'Raleway', sans-serif;
}

#hero {
    /* width: 100%;
    height: 100%; */
    background-color: hsl(217, 28%, 15%) !important;
    position: relative;
    padding-bottom: 150px;
    padding-top: 150px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif !important;
}

#hero h1 {
    width: 800px;
    font-weight: 700;

}

#hero p {
    width: 480px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}

#hero button {
    background-image: linear-gradient(hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 70px;
    font-family: 'Open Sans', sans-serif;
}

#hero .curve {
    width: 100%;
    height: 340px;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;

}

.z-index {
    z-index: 1;
}

.bg-color {
    background-color: hsl(217, 28%, 15%) !important;
}

.size {
    width: 35px !important;
}

#features {
    width: 100%;
    padding-bottom: 50px;
}

#features .card {
    background-color: hsl(218, 28%, 13%) !important;
    border: none;
}

#features img {
    width: 50px;
    background-color: hsl(218, 28%, 13%) !important;
}

#features h6 {
    font-weight: 700;
}

#features small {
    width: 335px;
    margin: auto;
}

#pro {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

#pro img {
    width: 100%;
}

#pro h1 {
    font-weight: 700;
    width: 450px;
}

#pro p {
    font-size: 13px;
    font-weight: 300;
    width: 435px;
}

#pro small {
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    color: hsl(176, 68%, 64%);
}

#pro span img {
    width: 15px;
    cursor: pointer;
}

#testimonial {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 350px;
    position: relative;
}

#testimonial .quotes {
    position: absolute;
    top: 8.5%;
    left: 8%;
    z-index: -1;
}

.box {
    background-color: hsl(219, 30%, 18%);
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    color: hsl(176, 68%, 64%);
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif !important;
    transition: all 0.3s ease-in;
    cursor: pointer;

}

.box:hover {
    box-shadow: 5px 5px 8px black;
}

.box p {
    font-size: 15px;

}

.sm-box {
    display: flex;
}

.sm-box img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.box .txt small:nth-child(3) {
    font-size: 10px;
}

.sign-b {
    background-color: hsl(217, 28%, 15%);
    font-family: 'Open Sans', sans-serif !important;
    padding: 50px;
    position: absolute;
    bottom: -100px;
    left: 230px;
    border-radius: 10px;
}

.sign-b h2 {
    font-family: 'Raleway', sans-serif !important;
}

.sign-b p {
    width: 750px;
}

.sign-b input {
    padding: 10px;
    border-radius: 50px;
    width: 80%;
    border: none;
    outline: none;
}

.sign-b button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: white;
    font-family: 'Open Sans', sans-serif !important;
}

#footer {
    width: 100%;
    background-color: hsl(216, 53%, 9%);
    padding-top: 190px;
    padding-bottom: 50px;
}

#footer .f-box {
    display: flex;
}

#footer ul li {
    list-style-type: none;
    margin-bottom: 5px;
}

#footer .social-icons a {
    color: white;
    margin-right: 2px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    font-size: 15px;
    transition: all 0.3s;
}

#footer .social-icons a:hover {
    color: hsl(219, 30%, 18%);
    border-color: hsl(219, 30%, 18%);
}

@media only screen and (max-width:990px) {
    #hero img {
        width: 100%;
    }

    #hero h1 {
        width: auto;

    }

    #hero p {
        width: 100%;
        font-size: 16px;
    }
    #features small {
        width: 100%;
       
    }
    #pro img {
        width: 80%;
    }

    .mg-t {
        margin-top: 15%;
    }

    #pro h1 {
        width: 100%;
        font-size: 25px;
        font-weight: 700;
    }

    #pro p {
        font-size: 20px;
        width: 100%;
    }
    #testimonial {
           padding-bottom: 310px;
    }

    #testimonial .box
    {
        width: 100%;
        
    }
    #testimonial .quotes {
      
        top: 4%;
        left: 10%;
        
    }
    .sign-b {
        
        /* padding: 50px; */
        /* position: absolute; */
        /* bottom: -100px; */
        left: 3%;
        right:3%;
        /* margin-top: 50%; */
        border-radius: 10px;
        padding-top: 35px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 20px;
        /* margin-right: 50px; */
        
        
    }
    .sign-b h2 {
        font-family: 'Raleway', sans-serif !important;
    }
    
    .sign-b p {
        width: 100%;
        font-size: 14px;
    }
    
    .sign-b input {
        padding: 5px 8px;
        border-radius: 20px;
        width: 100%;
        border: none;
        outline: none;
        margin-bottom: 10px;
        font-size: 12px;
    }
    
    .sign-b button {
        padding: 5px 5px;
        border: none;
        font-size: 12px;
        border-radius: 20px;
        width: 100%;
        background-image: linear-gradient(hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        color: white;
        font-family: 'Open Sans', sans-serif !important;
    }

    #footer ul 
    {
        margin-left:-15%;
    }
    .social-icons
    {
        display: flex;
        justify-content: center;        
    }
    .social-icons a 
    {
        margin-right:5px !important ;
    }
    
}